<nav class="navbar navbar-light" style="color: white; background-color: rgba(30,144,255 ,0.7 );">
    <table>
        <td><button (click)="goToLogin()" type="button" class="btn btn-outline-light">Se connecter</button></td>
        <td>&nbsp;</td>
        <td><button (click)="goToInscription()" type="button" class="btn btn-outline-light">S'inscrir</button></td>
    </table>
    <table>
        <td><button (click)="map()" type="button" class="btn btn-outline-light">Map</button></td>
        <td>&nbsp;</td>
        <td><button (click)="posts()" type="button" class="btn btn-outline-light">Posts</button></td>
    </table>
</nav>